<mat-toolbar color="primary">
  <span> Multiple Outlets </span>
  <span class="example-spacer"></span>
  <span> &nbsp;</span>
  <button mat-icon-button (click)="navigateTo('/menu')">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> 
  </button>
  <button mat-icon-button (click)="navigateTo('/sub-menu')">
    <mat-icon aria-hidden="false" aria-label="3d_rotation">3d_rotation</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateToSecondOutlet('main-content')">
    <mat-icon aria-hidden="false" aria-label="Example home icon">android</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateToSecondOutlet('sub-content')">
    <mat-icon aria-hidden="false" aria-label="Example home icon">commute</mat-icon>
  </button>
</mat-toolbar>
<p>------ 1 -----------</p>
<router-outlet></router-outlet>
<p>-------2----------</p>
<router-outlet name="secondary"></router-outlet>